:root {
  --primary-color: rgb(95, 95, 253);
  --secondary-color: rgb(46, 46, 70);
  --primary-text-size: 55px;
  --primary-text-color: rgb(75, 75, 75);
  --secondary-text-size: 30px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

container {
  width: 100%;
  height: 100vh;
  /* margin: 0 auto; */
  /* scroll-behavior: smooth; */
}

.innerContainer {
  margin: 0 auto;
  width: 90%;
  height: 100%;
}

.section1 {
  background-color: var(--primary-color);
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-top: 25px;
  padding-bottom: 25px;
  position: fixed;
  background-color: var(--primary-color);
  color: white;
}

header a {
  color: white;
  text-decoration: none;
}

header ul li {
  list-style-type: none;
  margin-left: 30px;
  /* width: 120px; */
}

header ul {
  display: flex;
  flex-direction: row;
  margin-right: 0px;
  justify-content: space-around;
}

header h1 {
  /* margin-right: 700px; */
  width: 840px;
}

.section1-container-bottom {
  width: 100%;
  padding-top: 25px;
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 150px;
  padding-top: 100px;
}
/* maybe try space between untuk header */

.section1-container-bottom h1 {
  color: white;
  font-size: var(--primary-text-size);
  width: 530px;
  margin-bottom: 35px;
}

.section1-container-bottom p {
  margin-bottom: 35px;
  color: white;
  width: 300px;
}

.button {
  width: 300px;
  height: 70px;
  background-color: white;

  /* margin: 0 auto; */
}

.early-access p {
  color: var(--primary-color);
  font-weight: bold;
  line-height: 70px;
  /* margin: 0 auto; */
  text-align: center;
}

.innerContainer img {
  height: 500px;
  width: 500px;
}

.section2 {
  /* margin-top: 150px; */
}

.section2inner {
  padding-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section2inner-inner {
  width: 580px;
  height: 580px;
}

.section2inner-inner h1 {
  font-size: var(--secondary-text-size);
  margin-bottom: 140px;
}

.section2inner-inner p {
  margin-bottom: 15px;
  color: var(--primary-text-color);
}

.section2inner-inner a {
  display: block;
  margin-top: 110px;
  color: var(--primary-color);
}

.section3 {
  background-color: var(--primary-color);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-left: 47px;
  /* padding-right: 47px; */
  /* padding-top: 100px; */
  justify-content: space-between;
}

.section3-left {
  flex-grow: 1;
  padding-top: 100px;
}

.section3-right {
  flex-grow: 1;
  margin-left: 200px;
  padding-right: 47px;
}

.section3-right-top,
.section3-right-bottom {
  width: 440px;
  padding-left: 15px;
}

.section3-right-bottom {
  padding-right: 47px;
  color: white;
}
.section3-right-top {
  background-color: white;
  width: 100%;
  height: 250px;
  /* display: flex;
  justify-content: center; */
  line-height: 250px;
  margin-bottom: 80px;
}

.section3-right-bottom p {
  margin-bottom: 20px;
}
/* .section3inner {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.section3inner img {
  width: 540px;
  height: 540px;
}

.section3inner-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}*/

/* .section3 {
  background-color: var(--primary-color);
  height: 100vh;
  /* padding-top: 250px; 
}*/
/*


.section3-right{
  display: flex;
  flex-direction: column;
}
/*
.section3 img {
  height: 350px;
  width: 350px;
}

.section3 p,
.section3 a {
  color: white;
  margin-bottom: 30px;
  padding-left: 30px;
}

.section3 h1 {
  width: 100%;
  height: 200px;
  margin-bottom: 50px;
  background-color: white;
  line-height: 250px;
  padding-left: 30px;
}

.section3inner-innerText {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 250px;
}

.ourApproach {
  position: absolute;
  right: -50px;
  top: -25px;
} */

.section4 {
  height: 100vh;
  width: 100%;
  padding-left: 130px;
  padding-right: 130px;
  padding-top: 200px;
  /* background-color: yellow; */
}

.section4 h1 {
  font-size: var(--primary-text-size);
  margin-bottom: 140px;
}

.icon-container i {
  height: 50px;
  width: 50px;
}

.icon-big-container {
  display: flex;
  justify-content: space-between;
}

.icon-container {
  font-size: 40px;
  line-height: 40px;
  width: 100px;
  height: 100px;
  padding: 25px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  text-align: center;
}

.section5 {
  height: 100vh;
  width: 100%;
  background-color: var(--secondary-color);
  padding-left: 130px;
  padding-right: 130px;
  padding-top: 280px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 300px;
}

.section5-left {
  width: 260px;
  color: white;
}

.section5-left h1 {
  margin-bottom: 55px;
}

.section5-left p {
  line-height: 25px;
}

.section5-middle {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 30px;
  padding-left: 30px;
}

.section5-middle-small {
  width: 210px;
}

.section5-middle p {
  margin-bottom: 40px;
}

.section5-middle-big {
  margin-top: 15px;
  width: 100%;
}

.section5-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.send {
  width: 175px;
  height: 55px;
  color: var(--secondary-color);
  font-weight: bold;
  text-align: center;
  line-height: 55px;
}
